:root {
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}
body {
  font-family: var(--font-body);
}

h1 {
  text-decoration: underline;
  text-decoration-style: dashed;
}

li {
  margin-bottom: 0.5rem;
}

.p-4 {
  padding: 2rem;
}

.bg-indigo-400 {
  background-color: #6569db;
}

h2:not(.modal__content h2) {
  margin-top: 3rem;
}

pre[class^="language-"] {
  font-family: var(--font-mono);
  border: 1px dashed #ddd;
  padding: 1rem;
  overflow-x: auto;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 3px solid #000;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}

.btn {
  cursor: pointer;
  padding: 0.25rem 1rem;
}
